.zone-overlay {
    padding: 0 135px 0 0;
}

.zone-overlay * {
    direction: ltr;
}

.zone-overlay > * {

    border: solid #0063ad;
    border-width: 1px 0 1px 0;

    background: #FFFFFF;
    width: 100%;
    height: 100%;
    overflow: auto;

    -webkit-box-shadow: inset 3px 3px 15px 2px rgba(127, 127, 127, 0.2);
    -moz-box-shadow: inset 3px 3px 15px 2px rgba(127, 127, 127, 0.2);
    box-shadow: inset 3px 3px 15px 2px rgba(127, 127, 127, 0.2);
}

.zone-overlay .tab-content {
    padding: 0;
}

.zone-overlay table {
    white-space: nowrap;
    margin-bottom: 0;
}