.syntax-error {
    position: absolute;
    border-bottom: #ff5b36 dashed;
}

.inspector-handle {
    background: #5fd9df;
    border-radius: 5px;
    position: absolute;
    cursor: pointer;
    display: block;
}

.inspector-handle:hover:after {
    content: "inspect";
}